:root{
    --fondo-pagina: #0f1117;
    --tarjetas-inputs: #181b24;
    --borde-input: #2a2f3d;
    --texto-principal: #f2f2f5;
    --texto-secundario: #a4a8b8;
    --acento: #f5b942;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--fondo-pagina);
    font-family: sans-serif;
}

.titulo{
    color: var(--texto-principal);
    padding: 55px 120px;
    
}

.titulo p{
    color: var(--texto-secundario);
}