:root{
    --fondo-pagina: #0f1117;
    --tarjetas-inputs: #181b24;
    --borde-input: #2a2f3d;
    --texto-principal: #f2f2f5;
    --texto-secundario: #a4a8b8;
    --acento: #f5b942;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--fondo-pagina);
    font-family: sans-serif;
}

header, main{
    max-width: 1100px;
    margin: 0 auto;
    padding: 24px;
}

.titulo{
    color: var(--texto-principal);
    
}

.titulo p{
    margin-top: 8px;
    color: var(--texto-secundario);
}

.buscador form{
    display: flex;
    gap: 8px;
}

.buscador input{
    background-color: var(--tarjetas-inputs);
    color: var(--texto-principal);
    flex: 1;
    border: 1px solid var(--borde-input);
    border-radius: 8px;
    padding: 10px 15px;
}

.btn-buscar{
    background-color: var(--texto-principal);
    color: var(--tarjetas-inputs);
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-buscar:hover{
    background-color: #a4a8b8;
    border: 1px solid var(--tarjetas-inputs);
}

.buscador input:focus{
    border: 1px solid var(--texto-principal);
}

.box-peli{
    background-color: var(--tarjetas-inputs);
    border-radius: 14px;
    overflow: hidden;
}

.portada{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 2/3;
    display: block;
}

.titulo-peli{
    color: var(--texto-principal);
}

.descripcion-peli{
    color: var(--texto-secundario);
}